<div class="signup-page" [@routerTransition] style="background-color:rgb(250, 250, 250);">
    <div class="row  justify-content-md-center">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" height="100px" />
    </div>
    
            <!--
            <form role="form">
                <div class="form-content">
                    <div class="form-group" style="color: black">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Full Name' | translate }}">
                    </div>

                    <div class="form-group" style="color: black">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group" style="color: black">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div class="form-group" style="color: black">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Repeat Password' | translate }}">
                    </div>
                  
                </div>
            </form> -->
            <mat-card>
                    <form [formGroup]="form">           
                        <mat-form-field>
                            <input matInput type="text" placeholder="Email d'utilisateur" formControlName="email" id="useremail" name="useremail" />
                        </mat-form-field><br>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Login" formControlName="login" id="userlogin" name="userlogin" />
                        </mat-form-field><br>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Password" formControlName="password" id="userpwd" name="userpwd"/>
                        </mat-form-field> <br>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Code Parrain"  [(ngModel)]="codeParrain" id="usercodeParan" name="usercodeParan" [ngModelOptions]="{standalone: true}"/>
                        </mat-form-field>  <br>        
                            <mat-form-field>
                                <input matInput type="text" placeholder="Nom" formControlName="nom" id="nom" name="nom" />
                            </mat-form-field> <br>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Prénom" formControlName="prenom" id="prenom" name="prenom" />
                            </mat-form-field><br>
                            <mat-form-field>
                                <input matInput type="text"  placeholder="Adresse" [(ngModel)]="adress" id="adress" name="adress" [ngModelOptions]="{standalone: true}"/>
                            </mat-form-field> <br>
                            <mat-form-field>
                                <input matInput type="text" maxlength="8" placeholder="Téléphone" formControlName="tel" id="tel" name="tel"/>
                            </mat-form-field><br>
                            <mat-form-field>
                                    <input matInput type="text" placeholder="Nom Société" [(ngModel)]="nomSte" id="Nomste" name="nomSte" [ngModelOptions]="{standalone: true}"/>
                            </mat-form-field><br>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Matricule Fiscale" [(ngModel)]="MF" id="MF" name="MF" [ngModelOptions]="{standalone: true}"/>
                            </mat-form-field>
    </form>
</mat-card>
    <br>
    <div class="row  justify-content-md-center">
            <a class="btn rounded-btn" (click)="testajout()">{{ 'Register' | translate }}</a>&nbsp;
            <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
    </div>
</div>
