<div [@routerTransition]>
    <div class="container">
        <h1>Google Maps Places Autocomplete</h1>
        <div class="form-group">
          <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" id="inputNAdresse">
        </div>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapClick)="mapClicked($event)" id="map" #map>
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">
  
      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>
  
    </agm-marker>
        </agm-map>
      </div>
</div>

